
.barra_lateral{ background-color: rgb(255, 255, 255);}

.bienvenido{background-color: #fff;
text-decoration: underline;
text-align: center;}



.tarjeta{display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
width: 30%;
height: 500px;
margin-left:25px;
border: 3px solid #000;}
.tituloTarjeta{text-align: center;}
.precioTarjeta{text-align: center;}
.imagenTarjeta{width: 100%;}



    
h2{display: flex;
    justify-content: center;
    justify-items: center;
background-color: #000;
color: #fff;
text-decoration: underline;}





.footer_uno{background-color: lightgreen; height: 50px; margin-left: 15px;}
.footer_dos{background-color: darkseagreen; height: 50px; margin-left: -15px;}
h2{padding: 0px; height: 50px;
color: #000;}
.logo_header{width: 85px; height: 55px; padding-left: 20px;}
.barra_nav{display: flex;
justify-content: center;
justify-items: center;}

.barra_header{display: flex;
    justify-content: center;
    justify-items: center;
;}


.nav_links{display: flex;
    align-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
font-size: 20px;
text-decoration: solid;
text-decoration: underline;}

@media screen and (min-width: 992px) {
    .header{background-color: rgb(255, 255, 255);}
    .barra_header{display: flex;
        justify-content: start;
        justify-items: start;}
        

}

@media screen and (max-width: 991px){
    .header{background-color: rgb(255, 255, 255);}
    .logo_header{width: 185px; height: 155px; }
    .guachin{font-size: 55px;}
    .barra_nav{padding-top: 20px;
    align-content: space-around;}
.nav_links{font-size: 34px;}

}

@media screen and (max-width: 725px){
    .tarjeta{display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
    width: 43%;
    margin-left:20px;}
    }
    @media screen and (max-width: 576px){
        .tarjeta{display: flex;
            flex-wrap: nowrap;
            margin-top: 10px;
        width: 90%;
        margin-left:25px;

    padding: 0%;}
    
        }

@media screen and (max-width: 768px){
    .logo_header{width: 115px; height: 115px; }
    .guachin{font-size: 35px;}
    .barra_nav{padding-top: 5px;}
    .nav_links{font-size: 20px;}
}

@media screen and (max-width: 441px){
    .nav_links{font-size: 16px;}
} 